/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
body {
  background-image: linear-gradient(180deg, rgba(19, 77, 113, 1) 0%, rgba(120, 167, 198, 1) 50%, rgba(247, 228, 191, 1) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-size: cover; */
  font-family: 'Quicksand', sans-serif;
  /* height: 100px; */
}

img {
  height: 120px;
  margin-top: 20px;
  width: 120px;
}

img:hover {
  transform: scale(1.54);
}

.hidden {
  display: none;
}

.container {
  /* display: flex;
  flex-direction: column;
  align-content: center; */
}

.item {
  /* justify-content: center;
  align-items: center; */
}

.heading,
.question,
.welcome {
  color: #ffffff;
  text-align: center;
}

.question {
  margin-top: 75px;
}

.input-selector {
  height: 70px;
  margin: auto;
  padding: 20px;
  width: 33%;
}

.login {
  height: 200px;
  margin: 125px auto;
  padding: 20px;
  width: 33%;
}

.box {
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
}

.message-reveal {
  font-size: 40px;
  height: 200px;
  margin: 70px auto 30px;
  padding-top: 40px;
  width: 60%;
}

.button {
  background-color: #134d71;
  border-radius: 4px;
  color: white;
  font-family: inherit;
  margin-top: 20px;
  padding: 8px 30px;
}

.button:hover {
  box-shadow: 10px 5px 5px gray;
}

.radioInput {
  margin: 0 30px;
  padding: 0 20px;
}

/* background-image alternatives */
/* background-image: url(backgroundGradient.jpg); */
/* background: rgb(19,77,113);
background: linear-gradient(180deg, rgba(19,77,113,1) 0%, rgba(120,167,198,1) 50%, rgba(247,228,191,1) 100%); */
